.videoElement {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  border-radius: 5vmin;
  transform: rotateY(180deg);
}
.open{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0 !important;
  left: 0 !important;
  z-index: 100;
  background-size: cover;
  background-position: center;
}
.no-open{
  width: 5vh;
  height: 5vh;
  position: absolute;
  z-index: 100;
  transition: .5s ease;
  background-size: cover;
  background-position: center;
}
.camera-controls {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 20%;
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 5vmin;
  border-bottom-right-radius: 5vmin;
  background: rgba(0,0,0,0.3);
  backdrop-filter: blur(1vh);
  .mode-slider{
    height: 20%;
    width: 100%;
  }
  .buttons{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .preview{
      width: 5vh;
      height: 5vh;
      background-size: cover;
      .pic-canvas{
        display: none;
      }
    }

    .shutter{
      height: 8vh;
      width: 8vh;
      border-radius: 100%;
      border: none;
      background-image: url("../img/shutter.svg");
      background-size: 100% 100%;
    }
    .shutter:active{
      background-image: url("../img/shutterclicked.svg");
    }
    .switch-cam{
      width: 5vh;
      height: 5vh;
      background-image: url("../img/switchcam.svg");
      background-size: contain;
      background-position: center;
    }
  }
}
.camera-top-controls{
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 10%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.3);
  backdrop-filter: blur(1vh);
  border-top-left-radius: 5vmin;
  border-top-right-radius: 5vmin;
}