.safari {
  width: 100%;
  height: 100%;
  position: absolute;
  background: black;
  bottom: 0;
  left: 0;
  border-radius: 5vmin;
}

.safari-header {
  width: 100%;
  height: 10%;
}

.safari-main {
  width: 100%;
  height: 90%;
  border-bottom-left-radius: 5vmin;
  border-bottom-right-radius: 5vmin;
}

.safari-main iframe {
  height: 100%;
  width: 100%;
  border: none;
  border-bottom-left-radius: 5vmin;
  border-bottom-right-radius: 5vmin;
}

.safari-footer {
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(5vh);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom-left-radius: 5vmin;
  border-bottom-right-radius: 5vmin;
}
