
.dock {
  width: 100%;
  height: 12%;
  border-radius: 4vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.7vh;
  backdrop-filter: blur(1vh);
}

.dock div {
  width: 25%;
  height: 100%;
}

.dock div img {
  width: 100%;
  height: 100%;
}