.app-display {
  width: 0;
  height: 0;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  background: black;
  transition: .5s ease;
  border-radius: 5vmin;
  padding: 1.9vh 2vh 0 2vh;
}

.opened {
  width: 100%;
  height: 100%;
  //height: 100;
  //position: absolute !important;
  top: 0 !important;
  left: 0 !important;
}

.bottom-bar {
  width: 100%;
  height: 4%;
  background: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

  .bar {
    height: 35%;
    width: 40%;
    border-radius: 0.4vh;
    background: transparent;
    position: relative;

    img {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-user-drag: unset;
    }
  }
}