.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(216, 57, 58);
  background: linear-gradient(194deg, rgba(216, 57, 58, 1) 0%, rgba(170, 32, 55, 1) 50%, rgba(102, 16, 54, 1) 100%);
  justify-content: center;
  padding: 0;
  margin: 0;
  /* font-family: SF-pro-Regular; */
  width: 100vw;
  height: 100vh;
}
.mobile-overlay{
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 100;
  background: #3a3a3a;
  display: flex;
  align-items: center;
  justify-content: center;
}
.start-btn{
  background: #727272;
  border-radius: 10px;
  width: 20vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  color: white;
  font-weight: 900;
}